.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    --hero-left-anchor: clamp(12.5rem, 7.7vw, 7.45rem);
    --hero-content-gap: clamp(1.2rem, 2.4vh, 2rem);
    --hero-title-y-offset: 85%;
}

.hero__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: url('/6566733.jpg') center center/cover no-repeat;
    opacity: 0.18;
}

.hero__title-giant {
    position: absolute;
    left: 50%;
    top: clamp(25rem, 7vh, 10rem);
    font-size: 34rem;
    line-height: 0.002;
    font-weight: 500;
    letter-spacing: 0.9rem;
    transform: translateX(-50%) translateY(calc(var(--hero-title-y-offset) - 10%)) scale(1.190, 1.02);
    transform-origin: center top;
    color: rgb(32 28 28 / 0.82);
    z-index: 5;
    pointer-events: none;
    white-space: nowrap;
    text-align: center;
    -webkit-text-stroke: 4px rgba(112, 15, 15, 0.72);
}

.hero__content {
    position: absolute;
    left: var(--hero-left-anchor);
    top: clamp(17em, 7vh, 10rem);
    z-index: 10;
    max-width: 46rem;
    width: fit-content;
    transform: translateY(calc(100% + var(--hero-content-gap)));
}

.hero__name {
    font-size: 7rem;
    margin: 0 0 1rem 0;
    margin-top: 2rem;
    color: rgba(112, 15, 15, 0.72);
    -webkit-text-stroke: 1.2px rgb(32 28 28 / 0.82);
    font-weight: 500;
    white-space: nowrap;
}

.hero__roles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: clamp(10rem, 2vw, 2rem);
    color: rgba(255, 255, 255, 0.72);
    font-size: 2.5rem;
}


.hero__ctaContainer {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.hero__cta {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color:rgba(255, 255, 255, 0.72);
    text-decoration: none;
    font-size: 2.2rem;
    border: 1px solid rgba(255, 255, 255, 0.72);
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.14);
    padding: 0.8rem 2.5rem;
    font-family: var(--font-it-kroxen-demo), sans-serif;
    transition: all 0.2s ease;
}

.hero__cta:hover {
    background: rgba(112, 15, 15, 0.72);
    border-color: rgba(112, 15, 15, 0.72);
    color: rgb(32 28 28 / 0.82);
    transform: translateY(-5px);
}

.arrow {
    font-size: 2rem;
    animation: bounceDown 2s infinite;
}

@keyframes bounceDown {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(10px); }
    60% { transform: translateY(5px); }
}

.hero__portrait {
    position: absolute;
    right: clamp(17rem, 1.32vw, 1.5rem);
    bottom: 0;
    width: clamp(179px, 17.9vw, 293px);
    z-index: 15;
}

@media (prefers-reduced-motion: reduce) {
  .hero__bg {
    transition: none;
  }
}
